

* {
    color: black;

}
:root{
    --color-primary: #F8F9FC;
    --color-secondary: #cfcfcf;
    --color-action: #426fd6;
    --color-white: #ffffff;
    --color-black: #000000;
    --transparent-primary-color: rgba(47, 48, 97, 0.8);
    --transparent-secondary-color: rgba(255, 255, 255, 0.4);
    --transparent-tertiary-color: rgba(247, 255, 247, 0.8);

    --box-shadow: 0 3px 15px rgba(0, 0, 0, .3);
    --box-shadow-hover: 0 3px 15px rgba(0, 0, 0, .5);

}


body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

input[type="text"] {
    padding: 5px;
    width: 200px;
}

button {
    padding: 5px 10px;
    margin-left: 10px;
}

#pokemonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    width: 400px;
    border-radius: 25px;
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow);
}

#pokemonInfo {
    margin-top: 20px;
}

#pokemonImage {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
.listes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);
    border: solid 4px var(--color-secondary);
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Ajout des transitions pour la couleur de la bordure et l'ombre */
}

li:hover {
    border: solid 4px var(--color-action);
    cursor: pointer;
    box-shadow: var(--box-shadow-hover);
}



.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 25px;
}   



.pokemon-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 25px;
}


.pokemon-details__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
}

.pokemon-details__image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.pokemon-details__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    width: 400px;
    border-radius: 25px;
    background-color: var(--color-primary);
}

.pokemon-details__list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    transition: linear 1ms;
}

.pokemon-details__list li:hover {
    background-color: var(--color-secondary);
}


.button-container {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--transparent-secondary-color);
    box-shadow: var(--secondary-color) 0px 0px 20px 0px;
}

.button-container button {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #F1EFF2;
    color: #000000;
    font-size: 20px;
    width: 45px;
    transition: all 0.7s;
}

.button-container button:hover:not(:disabled),
.button-container button.active {
    background-color: var(--color-action);
    color: #FFF;
}

.button-container button:hover:not(:disabled) {
    cursor: pointer;
}

.button-container button:disabled {
    opacity: 0.5;
}